    body {

      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav ul li {
      display: inline;
      margin-right: 10px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
    }
    
    main {
      padding: 20px;
    }
    
    section {
      margin-bottom: 30px;
    }
    
    h1, h2, h3 {
      color: #333;
    }
    .parrafo{
        font: oblique bold 120% cursive;
    }
    
    .button {
      display: inline-block;
      background-color: purple;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 10px;
    }
    .button:hover{
        background-color: yellow;
    }

    
    .destination {
      display: inline-block;
      width: 30%;
      margin-right: 20px;
      vertical-align: top;
      border-radius: 15px;
    }
    
    .destination img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }

    #portada{
        width: 60px;
        height: 60px;
    }
